{% load static %}
<html>
<head>
    <title>Default Advanced Marker</title>
    <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=default"></script>

    {#Bootstrap CSS を追加#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/searches_with_geolocation.css' %}"/>
    {# スマホ対応のためのviewport設定#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module">
        let map, infoWindow;

        async function initMap() {
            const { InfoWindow, Map } = await google.maps.importLibrary("maps");
            const { AdvancedMarkerView } = await google.maps.importLibrary("marker");

            infoWindow = new InfoWindow();  // InfoWindowを初期化
            map = new Map(document.getElementById("map"), {
                center: {lat: {{ geolocation.lat }}, lng: {{ geolocation.lng }}},
                zoom: 15,
                mapId: "4d7250671e5b361d",
            });
            let restaurants = [];
            let beachFlagImg;
            {#restaurantsリストの個数だけループ#}
            {% for saved_restaurant in saved_restaurants %}
                // A marker with a with a URL pointing to a PNG.
                beachFlagImg = document.createElement("img");
                beachFlagImg.src = "{% static 'media/' %}{{ saved_restaurant.photos }}";
                beachFlagImg.style.width = "80px"; // 画像のサイズ調整
                beachFlagImg.style.height = "80px"; // 画像のサイズ調整
                beachFlagImg.style.borderRadius = "50%"; // 丸い形にする
                restaurants.push({
                    position: {
                        lat: {{ saved_restaurant.location.latitude }},
                        lng: {{ saved_restaurant.location.longitude }}
                    },
                    title: "{{ saved_restaurant.display_name }}",
                    content: beachFlagImg,
                });

            {% endfor %}

            // Create the markers.
            restaurants.forEach(({position, title, content}, i) => {
                const marker = new AdvancedMarkerView({
                    position,
                    map,
                    title: `${i + 1}. ${title}`,
                    content
                });
                
                // Add a click listener for each marker, and set up the info window.
                marker.addListener("gmp-click", () => {

                    infoWindow.close();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(marker.map, marker);
                });
            });
            {#polls/seaches/のオプションパラメータに中心座標を追加したボタンを表示#}
            let locationButton = document.createElement("button");
            locationButton.textContent = "この付近を検索";
            locationButton.classList.add("btn", "btn-primary", "custom-map-control-button");
            locationButton.style.margin = "60px";  // 余白を追加
            locationButton.style.padding = "10px 20px";  // パディングを追加
            locationButton.style.borderRadius = "30px";  // ボーダーの丸みを追加
            locationButton.style.fontSize = "16px";  // 文字サイズを調整
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
            locationButton.addEventListener("click", () => {
                {#中心座標の取得#}
                const center = map.getCenter();
                let geolocation = center.lat() + "," + center.lng();
                location.href = "/polls/searches/" + geolocation + "/";
            });

        }

        initMap();
    </script>
</head>
<body>
<div id="map"></div>

<!--
  The `defer` attribute causes the callback to execute after the full HTML
  document has been parsed. For non-blocking uses, avoiding race conditions,
  and consistent behavior across browsers, consider loading using Promises.
  See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
  for more information.
  -->
<script>
    (g => {
        var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
            m = document, b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
            u = () => h || (h = new Promise(async (f, n) => {
                await (a = m.createElement("script"));
                e.set("libraries", [...r] + "");
                for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                e.set("callback", c + ".maps." + q);
                a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                d[q] = f;
                a.onerror = () => h = n(Error(p + " could not load."));
                a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                m.head.append(a)
            }));
        d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
    })({
        key: "{{ front_maps_api_key }}", v: "beta"
    });
</script>
</body>
</html>