{% load static %}
<html>
<head>
    <title>Default Advanced Marker</title>
    <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=default"></script>

    {#Bootstrap CSS を追加#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/searches_with_geolocation.css' %}"/>
    {# スマホ対応のためのviewport設定#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="map"></div>

<!-- 地図の種類を選択するモーダル -->
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapModalLabel">地図を選択</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>表示するお店の基準を選んでください</p>
                <div class="d-grid gap-2">
                    <button id="searches" class="btn btn-outline-primary">高評価のお店から選ぶ（デフォルト）</button>
                    <button id="user_rating_count_searches" class="btn btn-outline-secondary">
                        レビュー人数が多い店から選ぶ
                    </button>
                    <button id="niche" class="btn btn-outline-success">ニッチなお店から選ぶ（開発中）</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 料理の種類を選択するモーダル -->
<div class="modal fade" id="cuisineModal" tabindex="-1" aria-labelledby="cuisineModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cuisineModalLabel">料理を選択</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>表示する料理の種類を選んでください</p>
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-dark cuisine-option" data-cuisine="restaurant">指定なし</button>
                    <button class="btn btn-outline-dark cuisine-option" data-cuisine="chinese_restaurant">中華料理</button>
                    <button class="btn btn-outline-dark cuisine-option" data-cuisine="french_restaurant">フランス料理</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="module">
    import {createMarkers} from "{% static 'polls/searches_with_geolocation.js' %}";

    let map, infoWindow;

    async function initMap() {
        const {InfoWindow, Map} = await google.maps.importLibrary("maps");
        const {AdvancedMarkerView} = await google.maps.importLibrary("marker");

        infoWindow = new InfoWindow();  // InfoWindowを初期化
        map = new Map(document.getElementById("map"), {
            center: {lat: {{ geolocation.lat }}, lng: {{ geolocation.lng }}},
            zoom: 15,
            mapId: "4d7250671e5b361d",
        });
        //////////////////////////////////////////////////////
        // 現在地の取得とAdvancedMarkerViewでのマーカー表示
        //////////////////////////////////////////////////////
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const userPosition = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };

                    // AdvancedMarkerViewを使って現在地マーカーを作成
                    const userMarker = new AdvancedMarkerView({
                        position: userPosition,
                        map: map,
                        title: "Your Location",
                        content: document.createElement("div"),
                    });

                    // マーカーのカスタムアイコンを設定
                    userMarker.content.classList.add("custom-marker");
                    userMarker.content.style.width = "20px";
                    userMarker.content.style.height = "20px";
                    userMarker.content.style.backgroundColor = "#4285F4";
                    userMarker.content.style.borderRadius = "50%";
                    userMarker.content.style.border = "2px solid #FFFFFF";
                },
                () => {
                    console.error("現在地が取得できませんでした。");
                }
            );
        } else {
            console.error("このブラウザではGeolocation APIがサポートされていません。");
        }
        //////////////////////////////////////////////////////
        // 保存されたレストラン情報を取得してマーカーを作成する
        //////////////////////////////////////////////////////
        let restaurants = [];
        {% for saved_restaurant in saved_restaurants %}
            restaurants.push({
                position: {
                    lat: {{ saved_restaurant.location.latitude }},
                    lng: {{ saved_restaurant.location.longitude }}
                },
                title: "{{ saved_restaurant.display_name }}",
                google_maps_uri: "{{ saved_restaurant.google_maps_uri }}",
                primary_type_display_name: "{{ saved_restaurant.primary_type_display_name }}",
                rating: "{{ saved_restaurant.rating }}",
                business_status: "{{ saved_restaurant.business_status }}",
                user_rating_count: "{{ saved_restaurant.user_rating_count }}",
                beach_flag_img_src: "{% static 'media/' %}{{ saved_restaurant.photos }}"
            });
        {% endfor %}

        createMarkers(map, restaurants, infoWindow);

        //////////////////////////////////////////////////////
        // この付近を検索ボタンを追加
        //////////////////////////////////////////////////////
        let locationButton = document.createElement("button");
        locationButton.textContent = "この付近を検索";
        locationButton.classList.add("btn", "btn-primary", "custom-map-control-button");
        locationButton.style.margin = "60px";  // 余白を追加
        locationButton.style.padding = "10px 20px";  // パディングを追加
        locationButton.style.borderRadius = "30px";  // ボーダーの丸みを追加
        locationButton.style.fontSize = "16px";  // 文字サイズを調整
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
        locationButton.addEventListener("click", () => {
            {#中心座標の取得#}
            const center = map.getCenter();
            let geolocation = center.lat() + "," + center.lng();
            location.href = "/polls/searches/" + geolocation + "/{{ cuisine }}/";
        });

        //////////////////////////////////////////////////////
        // 地図を選ぶボタンを追加
        //////////////////////////////////////////////////////
        const nextButton = document.createElement("button");
        nextButton.innerHTML = `<i class="bi bi-map-fill"></i>　地図を選択`;
        nextButton.classList.add("btn", "btn-light", "custom-map-control-button");
        nextButton.style.margin = "10px"
        nextButton.style.padding = "10px 20px";
        nextButton.style.borderRadius = "30px";
        nextButton.style.fontSize = "16px";
        map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(nextButton);

        // Bootstrap モーダルを表示するためのクリックイベント
        nextButton.addEventListener("click", () => {
            const mapModal = new bootstrap.Modal(document.getElementById("mapModal"));
            mapModal.show();
        });

        // モーダル内のsearchesボタンをクリックしたときのイベント
        document.getElementById("searches").addEventListener("click", () => {
            const center = map.getCenter();
            const geolocation = center.lat() + "," + center.lng();
            location.href = "/polls/searches/" + geolocation + "/{{ cuisine }}/";
        });

        // モーダル内のuser_rating_count_searchesボタンをクリックしたときのイベント
        document.getElementById("user_rating_count_searches").addEventListener("click", () => {
            const center = map.getCenter();
            const geolocation = center.lat() + "," + center.lng();
            location.href = "/polls/user_rating_count_searches/" + geolocation + "/";
        });

        // モーダル内のnicheボタンをクリックしたときのイベント
        document.getElementById("niche").addEventListener("click", () => {
            const center = map.getCenter();
            const geolocation = center.lat() + "," + center.lng();
            location.href = "/polls/niche/" + geolocation + "/";
        });
        // 「料理の種類を選択」ボタンを作成
        const cuisineButton = document.createElement("button");
        cuisineButton.innerHTML = `<i class="bi bi-egg-fried"></i>　料理を選択`;
        cuisineButton.classList.add("btn", "btn-light", "custom-map-control-button");
        cuisineButton.style.margin = "10px";
        cuisineButton.style.padding = "10px 20px";
        cuisineButton.style.borderRadius = "30px";
        cuisineButton.style.fontSize = "16px";
        map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(cuisineButton);

        // モーダルを表示するクリックイベントを設定
        cuisineButton.addEventListener("click", () => {
            const cuisineModal = new bootstrap.Modal(document.getElementById("cuisineModal"));
            cuisineModal.show();
        });

        // モーダル内の料理選択ボタンにイベントを追加
        document.querySelectorAll('.cuisine-option').forEach(button => {
            button.addEventListener('click', () => {
                const cuisine = button.getAttribute('data-cuisine');
                const center = map.getCenter();
                const geolocation = `${center.lat()},${center.lng()}`;

                // 選択された料理の種類でリダイレクト
                location.href = `/polls/searches/${geolocation}/${cuisine}/`;
            });
        });

    }

    initMap();
</script>

<script>
    (g => {
        var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
            m = document, b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
            u = () => h || (h = new Promise(async (f, n) => {
                await (a = m.createElement("script"));
                e.set("libraries", [...r] + "");
                for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                e.set("callback", c + ".maps." + q);
                a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                d[q] = f;
                a.onerror = () => h = n(Error(p + " could not load."));
                a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                m.head.append(a)
            }));
        d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
    })({
        key: "{{ front_maps_api_key }}", v: "beta"
    });
</script>
<!-- Bootstrap JS 読み込み -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
</body>
</html>