{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    {% if process == "connect" %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
        {% endelement %}
        <p>
            {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from
                {{ provider }}.{% endblocktrans %}
        </p>
    {% else %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}Now Loading . . .{% endblocktrans %}
        {% endelement %}
        <p>
            {% blocktrans with provider.name as provider %}{% endblocktrans %}
        </p>
    {% endif %}
    {% element form method="post" no_visible_fields=True %}
        {% slot actions %}
            {% csrf_token %}
            {% element button type="submit" id="auto-continue-button" %}
                {% trans "リダイレクトされない方はこちら" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    <script>
        // ページ全体が読み込まれてからContinueボタンをクリック
        window.addEventListener('load', function () {
            document.querySelector('form').submit();
        });
    </script>
{% endblock content %}
